{%extends 'base.html'%}

{%block title_block%}

<title>Movie-Add</title>

{%endblock%}

{%block main_block%}
<div class="container p-4  mt-5 ">
    <form action="" method="post" class="w-75 p-4  mx-auto rounded shadow border border-info">
        {{form.errors}}

        {%csrf_token%}

        <div class="row">
            <div class="col-6">
                <label for="">Title</label>
                {{form.title}}
            </div>
            <div class="col-6">
                <label for="">Year</label>
                {{form.year}}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="">Director</label>
                {{form.director}}
            </div>
            <div class="col-6">
                <label for="">Run Time</label>
                {{form.run_time}}
            </div>

        </div>

        <div class="row ">
            <div class="col-6">
                <label for="">Language</label>
                {{form.language}}
            </div>
            <div class="col-6">
                <label for="">Genre</label>
                {{form.genre}}
            </div>
        </div>


        <button type="submit" class="form-control btn btn-outline-danger mt-5">add</button>
    </form>



</div>
{%endblock%}